<h1>Editing photo</h1>

<%= render 'form' %>

<%= link_to 'Show', [@photo.hotel, @photo], class: "btn btn-primary" %> 
<%= link_to 'Back', hotel_photos_path(@photo.hotel), class: "btn btn-success" %>
